<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(department.errors.count, "error") %> prevented this department from being saved:</h5>
      <ul class="mb-0">
        <% department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Create Department", class: "btn btn-primary" %>
  </div>
<% end %>
